<div style="margin-left: 3em">
  <button (click)="switchLanguage('en')">en</button>
  <button (click)="switchLanguage('de')">de</button>

  <h1 translate>FFTitle</h1>
  <!-- Information regarding the Organization -->
  <div>
    <h2 translate>Overview</h2>
    <div class="card border-secondary" style="margin-right: 3em">
      <!-- Card Header = upper grey area, Question Topic Displayed -->
      <h4 class="orgTitle card-header" translate>Organization</h4>
      <div class="card-body">
        <span>
          <td  translate>OrgName</td><br>
          <input style="margin-top: 0.6em" type="text"><br><br>
        </span>
        <span>
          <td nowrap translate>OrgDesc</td><br>
          <textarea class="orgDesc" rows="3" style="margin-top: 0.6em; width: 100%"></textarea><br><br>
        </span>
        <span>
          <td nowrap translate>OrgSize</td><br>
          <div class="btn-group btn-group-toggle" style="margin-top: 0.6em" data-toggle="buttons">
              <!-- Radio Buttons -->
              <label class="btn btn-light btn-sm vcQ" style="border-color: black">
                <input type="radio" name="orgSize" [value]="49" autocomplete="off"> 49 and less
              </label>
              <label class="btn btn-light btn-sm vcQ" style="border-color: black">
                <input type="radio" name="orgSize" [value]="249" autocomplete="off"> 50 - 249
              </label>
              <label class="btn btn-light btn-sm vcQ" style="border-color: black">
                <input type="radio" name="orgSize" [value]="250" autocomplete="off"> 250 and more
              </label>
            </div><br><br>
        </span>
        <span>
          <td nowrap translate>IndustrySector</td><br>
          <select style="margin-top: 0.6em">
            <option *ngFor="let indSec of indSect" value="{{indSec}}">{{indSec}}</option>
          </select><br><br>
        </span>
        <span>
          <td nowrap translate>Country</td><br>
          <select style="margin-top: 0.6em">
            <option *ngFor="let country of country_list" value="{{country}}">{{country}}</option>
          </select><br><br>
        </span>
        <span>
          <td nowrap translate>Region</td><br>
          <select style="margin-top: 0.6em">
            <option *ngFor="let region of regions" value="{{region}}">{{region}}</option>
          </select><br><br>
        </span>
      </div>
    </div><br><br>

    <div class="card border-secondary" style="margin-right: 3em">
      <!-- Card Header = upper grey area, Question Topic Displayed -->
      <h4 class="orgTitle card-header" translate>Solut</h4>
      <div class="card-body">
        <span>
          <td  translate>SolutionDesc</td><br>
          <textarea class="solDesc" rows="3" style="margin-top: 0.6em; width: 100%"></textarea><br><br>
        </span>
        <span>
          <td nowrap translate>SolutionVis</td><br>
          <textarea class="solVis" rows="3" style="margin-top: 0.6em; width: 100%"></textarea><br><br>
        </span>
        <span>
          <td nowrap translate>Sponsor</td><br>
          <input style="margin-top: 0.6em" type="text"><br><br>
        </span>
        <span>
          <td nowrap translate>SpecReq</td><br>
          <textarea class="specReq" rows="3" style="margin-top: 0.6em; width: 100%"></textarea><br><br>
        </span>
        <span>
          <td nowrap translate>SolCat</td><br>
          <div class="btn-group btn-group-toggle" style="margin-top: 0.6em" data-toggle="buttons">
              <!-- Radio Buttons -->
              <label class="btn btn-light btn-sm vcQ" style="border-color: black">
                <input type="radio" name="solCat" [value]="'physical product'" autocomplete="off"> Physical Product
              </label>
              <label class="btn btn-light btn-sm vcQ" style="border-color: black">
                <input type="radio" name="solCat" [value]="'service'" autocomplete="off"> Service
              </label>
              <label class="btn btn-light btn-sm vcQ" style="border-color: black">
                <input type="radio" name="solCat" [value]="'infrastructure'" autocomplete="off"> Infrastructure
              </label>
          </div><br><br>
        </span>
        <span>
          <td nowrap translate>SolLife</td><br>
          <div class="btn-group btn-group-toggle" style="margin-top: 0.6em" data-toggle="buttons">
              <!-- Radio Buttons -->
              <label class="btn btn-light btn-sm vcQ" style="border-color: black">
                <input type="radio" name="solLife" [value]="'Plan, concept'" autocomplete="off"> Plan, concept
              </label>
              <label class="btn btn-light btn-sm vcQ" style="border-color: black">
                <input type="radio" name="solLife" [value]="'Market introduction'" autocomplete="off"> Market introduction
              </label>
              <label class="btn btn-light btn-sm vcQ" style="border-color: black">
                <input type="radio" name="solLife" [value]="'Growth'" autocomplete="off"> Growth
              </label>
              <label class="btn btn-light btn-sm vcQ" style="border-color: black">
                <input type="radio" name="solLife" [value]="'Maturity'" autocomplete="off"> Maturity
              </label>
              <label class="btn btn-light btn-sm vcQ" style="border-color: black">
                <input type="radio" name="solLife" [value]="'Saturation, decline'" autocomplete="off"> Saturation, decline
              </label>
          </div><br><br>
        </span>
      </div>
    </div>
  </div><br><br>

  <h3 translate>Select</h3>
  <input type="checkbox" [(ngModel)]="valueCheck" name="valCheck" value="Value Check"> Value Check<br>
  <input type="checkbox" [(ngModel)]="ffCheck" name="futureFit" value="Future Fit"> Future Fit Check<br>
  <input type="checkbox" [(ngModel)]="bpCheck" name="busPot" value="Business Potential"> Business Potential Check<br><br>
</div>

<!-- Value Check Questionnaire -->
<div *ngIf="valueCheck" style="margin-left: 3em"> <!-- toggles Questionnaire, takes input from checkbox at the top-->
  <!-- Hard coded title -->
  <h2 id="vc">Value Check</h2>
  <span>
    <td nowrap translate>weight</td>
    <input type="text" [(ngModel)]="vcWeight" style="width: 3em; margin-left: 1em"><br><br>
  </span>
  <!-- Loop through questions -->
  <div *ngFor="let valueCheck of vcs">
    <!-- Creates box (called card)-->
    <div class="card border-secondary" style="margin-right: 3em">
      <!-- Card Header = upper grey area, Question Topic Displayed -->
      <h4 class="vcTitle card-header" translate>{{valueCheck}}</h4>
      <div class="card-body">
      <p translate>{{valueCheck}}Q</p> <!-- Further Questions belonging to the Topic -->
      </div>

      <div class="card-footer text-muted"> <!-- Card footer = lower grey area, User Input goes here -->
        <!-- Footer split up in two columns. 1st contains rating and weight, 2nd textarea -->
        <div class="row">
          <div class="col-">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <!-- Radio Buttons -->
              <label *ngFor="let absolute of scaleAbsolute" class="btn btn-light btn-sm vcQ" style="border-color: black">
                <input type="radio" name={{valueCheck}} [value]="absolute.value" autocomplete="off"> {{absolute.display}}
              </label>
            </div>
          </div>
          <!-- Text input -->
          <div class="col-sm">
            <textarea class="vcText" rows="3" style="width: 100%"></textarea>
          </div>
        </div>
      </div>
    </div><br>
  </div>
</div>

<!-- Future Fit Check Questionnaire -->
<div *ngIf="ffCheck" style="margin-left: 3em">
  <h2 id="ff">Future Fit Check</h2>
  <span>
    <td nowrap translate>weight</td>
    <input type="text" [(ngModel)]="ffWeight" style="width: 3em; margin-left: 1em"><br><br>
  </span>
  <!-- Upstream Activities -->
  <div class="card border-secondary" style="margin-right: 3em">
  <h3 class="ffTitle card-header" translate>Upstream Activities</h3>

  <div class="container">
  <div class="row">
    <div class="col-sm">
      <h6>Benchmark Check</h6>
    </div>
    <div class="col-sm">
      <h6>Market Check</h6>
    </div>
  </div>
  </div>

  <!-- Loop through questions -->
  <div *ngFor="let ffCheckUp of ffCheckUps">
    <!-- Title + further details-->
    <hr style="border-color: gray">
      <div class="container">
        <h5 class="ffupTitle" translate>{{ffCheckUp}}</h5>
      </div>
      <!-- Input through user-->
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label *ngFor="let absolute of scaleAbsolute" class="btn btn-light btn-sm ffupQB" style="border-color: black">
                  <input type="radio" name="{{ffCheckUp}}B" [value]="absolute.value" autocomplete="off"> {{absolute.display}}
                </label>
              </div>
            </div>
            <div class="col-sm">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label *ngFor="let relative of scaleRelative" class="btn btn-light btn-sm ffupQM" style="border-color: black">
                  <input type="radio" name="{{ffCheckUp}}M" [value]="relative.value" autocomplete="off"> {{relative.display}}
                </label>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="card-footer text-muted" style="margin-top: 1em">
      <textarea class="ffupText" id="ffupText" rows="3" style="width: 100%"></textarea>
    </div>
  </div><br>

  <!-- Core Activities -->
  <div class="card border-secondary" style="margin-right: 3em">
    <h3 class="ffcoreTitle card-header" translate>Core Activities</h3>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h6>Benchmark Check</h6>
        </div>
        <div class="col-sm">
          <h6>Market Check</h6>
        </div>
      </div>
    </div>

    <!-- Loop through questions -->
    <div *ngFor="let ffCheckCore of ffCheckCores">
      <!-- Title + further details-->
      <hr style="border-color: gray">
      <div class="container">
        <h5 class="ffcoreTitle" translate>{{ffCheckCore}}</h5>
      </div>
      <!-- Input through user-->
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label *ngFor="let absolute of scaleAbsolute" class="btn btn-light btn-sm ffcoreQB" style="border-color: black">
                <input type="radio" name="{{ffCheckCore}}B" [value]="absolute.value" autocomplete="off"> {{absolute.display}}
              </label>
            </div>
          </div>
          <div class="col-sm">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label *ngFor="let relative of scaleRelative" class="btn btn-light btn-sm ffcoreQM" style="border-color: black">
                <input type="radio" name="{{ffCheckCore}}M" [value]="relative.value" autocomplete="off"> {{relative.display}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted" style="margin-top: 1em">
      <textarea class="ffcoreText" id="ffcoreText" rows="3" style="width: 100%"></textarea>
    </div>
  </div><br>

  <!-- Usage & Repurposing -->
  <div class="card border-secondary" style="margin-right: 3em">
    <h3 class="ffuseTitle card-header" translate>Usage & Repurposing Activities</h3>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h6>Benchmark Check</h6>
        </div>
        <div class="col-sm">
          <h6>Market Check</h6>
        </div>
      </div>
    </div>

    <!-- Loop through questions -->
    <div *ngFor="let ffCheckUse of ffCheckUses">
      <!-- Title + further details-->
      <hr style="border-color: gray">
      <div class="container">
        <h5 class="ffuseTitle" translate>{{ffCheckUse}}</h5>
      </div>
      <!-- Input through user-->
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label *ngFor="let absolute of scaleAbsolute" class="btn btn-light btn-sm ffuseQB"  style="border-color: black">
                <input type="radio" name="{{ffCheckUse}}B" [value]="absolute.value" autocomplete="off"> {{absolute.display}}
              </label>
            </div>
          </div>
          <div class="col-sm">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label *ngFor="let relative of scaleRelative" class="btn btn-light btn-sm ffuseQM"  style="border-color: black">
                <input type="radio" name="{{ffCheckUse}}M" [value]="relative.value" autocomplete="off"> {{relative.display}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted" style="margin-top: 1em">
      <textarea class="ffuseText" id="ffuseText" rows="3" style="width: 100%"></textarea>
    </div>
  </div><br>
</div>


<!-- Business Potential Check Questionnaire -->
<div *ngIf="bpCheck" style="margin-left: 3em">
  <h2 id="bp">Business Potential Check</h2>
  <span>
    <td nowrap translate>weight</td>
    <input type="text" [(ngModel)]="ffWeight" style="width: 3em; margin-left: 1em"><br><br>
  </span>
  <h3>Strategic Positioning</h3>

  <div class="card border-secondary" style="margin-right: 3em">
    <h4 class="bpTitle card-header" translate>Right Direction</h4>
    <div class="card-body">
      <p translate>directQ</p>
    </div>
    <!-- Input through user-->
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col-">
          <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left: 1.5em">
            <label class="btn btn-light btn-sm bpQ" style="border-color: black">
              <input type="radio" name="1" value="0" autocomplete="off"> Yes
            </label>
            <label class="btn btn-light btn-sm bpQ" style="border-color: black">
              <input type="radio" name="1" value="-50" autocomplete="off"> No
            </label>
          </div>
        </div>
        <div class="col-sm">
          <textarea class="bprdText" id="bprdText" rows="3" style="width: 100%"></textarea>
        </div>
      </div>
    </div>
  </div><br>

  <div class="card border-secondary" style="margin-right: 3em">
    <h4 class="bpTitle card-header" translate>Flexible Platform</h4>
    <div class="card-body">
      <p translate>platformQ</p>
    </div>
    <!-- Input through user-->
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col-">
          <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left: 1.5em">
            <label class="btn btn-light btn-sm bpQ" style="border-color: black">
              <input type="radio" name="2" value="0" autocomplete="off"> Yes
            </label>
            <label class="btn btn-light btn-sm bpQ" style="border-color: black">
              <input type="radio" name="2" value="-50" autocomplete="off"> No
            </label>
          </div>
        </div>
        <div class="col-sm">
          <textarea class="bpfpText" id="bpfpText" rows="3" style="width: 100%"></textarea>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h3>Return on Investment</h3>
  <!-- Loop through questions -->
  <div *ngFor="let bpCheck of bps">
    <!-- Title + further details-->
    <div class="card border-secondary" style="margin-right: 3em">
      <h4 class="bpTitle card-header" translate>{{bpCheck}}</h4>
      <div class="card-body">
        <p translate>{{bpCheck}}Q</p>
      </div>

      <!-- Input through user-->
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label *ngFor="let absolute of scaleAbsolute" class="btn btn-light btn-sm bpQ" style="border-color: black">
                <input type="radio" name={{bpCheck}} [value]="absolute.value" autocomplete="off"> {{absolute.display}}
              </label>
            </div>
          </div>
          <div class="col-sm">
            <textarea class="bpText" rows="3" style="width: 100%"></textarea>
          </div>
        </div>
      </div>
    </div><br>
  </div>
</div>

<div style="margin-left: 3em">
  <button id="validate" type="submit" (click)= "result()">Evaluation</button>
  <button id="post" type="submit" (click)= "post()">Firebase</button>
  <button type="submit" (click)= "bpJson()">bp</button>
  <button type="submit" (click)="savePDF()">Download PDF</button><br><br>
  <h3>Validation Score</h3>
  <p *ngIf="valueCheck">Value Check: {{vcRank}}%</p>
  <p *ngIf="ffCheck">Future Fit Check: {{ffRank}}%</p>
  <p *ngIf="bpCheck">Business Potential Check: {{bpRank}}%</p>
  <p>Overall Score: {{score}}%</p>
  <p>SDG Score: {{grade}}</p>
</div>

<!--tr-bootstrap></tr-bootstrap-->

<!--h1 translate>Title</h1>

<div>
  {{ 'Intro' | translate:user }}
</div>

<div>
  {{ 'Startpage.TranslationSections' | translate }}
</div>

<div>
  {{ 'Aboutpage.TranslationSections' | translate }}
</div>

<br/-->
