<h1 translate>FFTitle</h1>
<h2 id="vc">Value Check</h2>
<h3 id="vq1" translate>CustNeed</h3>
<textarea id="textq1" rows="5" cols="90"></textarea><br>
<select id="valueq1">
  <option *ngFor="let selectScale of selectScales" [value]="selectScale.value">{{selectScale.display}}</option>
</select>
<br><br>
<h3 id="vq2" translate>MarkOport</h3>
<textarea id="textq2" rows="5" cols="90"></textarea><br>
<select id="valueq2">
  <option *ngFor="let selectScale of selectScales" [value]="selectScale.value">{{selectScale.display}}</option>
</select>
<br><br>
<h3 id="vq3" translate>Solution</h3>
<textarea id="textq3" rows="5" cols="90"></textarea><br>
<select id="valueq3">
  <option *ngFor="let selectScale of selectScales" [value]="selectScale.value">{{selectScale.display}}</option>
</select>
<br>
<button id="validate" type="submit" (click)= "value()">Submit</button>
<button type="submit" (click)="savePDF()">Download PDF</button>
<p>Average: {{score}}%</p>
<br><br>
<!--h1 translate>Title</h1>

<div>
  {{ 'Intro' | translate:user }}
</div>

<div>
  {{ 'Startpage.TranslationSections' | translate }}
</div>

<div>
  {{ 'Aboutpage.TranslationSections' | translate }}
</div>

<br/-->
<button (click)="switchLanguage('en')">en</button>

<button (click)="switchLanguage('fr')">fr</button>
<button (click)="switchLanguage('de')">de</button>

<tr-bootstrap></tr-bootstrap>
