<h1 translate>FFTitle</h1>
<h2 id="vc">Value Check</h2>

<div *ngFor="let valueCheck of valueChecks">
  <h3 class="vcTitle" translate>{{valueCheck}}</h3>
  <textarea class="vcText" rows="5" cols="90"></textarea><br>
  <select class="vcQ">
    <option *ngFor="let selectScale of selectScales" [value]="selectScale.value">{{selectScale.display}}</option>
  </select>
  <br>
</div>

<button id="validate" type="submit" (click)= "value()">Submit</button>
<button type="submit" (click)="savePDF()">Download PDF</button>
<p>Average: {{score}}%</p>
<br><br>

<button (click)="switchLanguage('en')">en</button>

<button (click)="switchLanguage('de')">de</button>

<tr-bootstrap></tr-bootstrap>

<!--h1 translate>Title</h1>

<div>
  {{ 'Intro' | translate:user }}
</div>

<div>
  {{ 'Startpage.TranslationSections' | translate }}
</div>

<div>
  {{ 'Aboutpage.TranslationSections' | translate }}
</div>

<br/-->
